body{
    background-color: #e8f5e9;
    font-family: Times New Roman;
    margin: 20px;
}

/* Main Heading */
h1{
    color: #1b5e20;
    background-color: #c8e6c9;
    padding: 15px;
    border-radius: 10px;
}

/* Sub Headings */
h2{
    color: #2e7d32;
}
h3{
    color: #035b08;
}

/* Paragraphs */
p{
    color: #333333;
    font-size: 18px;
    line-height: 1.6;
}

/* Images */
img{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Sections */
div{
    background-color: #f1f8e9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

table{
    border-collapse: collapse;
    background-color: white;
}

th{
    background-color: lightgreen;
}


body{
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
}




.content{

    margin-top: 140px;
    margin-left: 100px;

}
html{
    scroll-behavior: smooth;
}


.navbar{
    background-color: #c8e6c9;
    padding: 15px;
    text-align: center;
}

.navbar a{
    text-decoration: none;
    margin-right: 25px;
    color: darkgreen;
    font-weight: bold;
}


.navbar{

    position: sticky;

    top: 0;

    background-color: #c8e6c9;

    padding: 15px;

    text-align: center;

}


.navbar a{

    text-decoration: none;

    margin-right: 25px;

    color: darkgreen;

    font-weight: bold;

    font-size: 20px;
}